#decisonMaking{
	border: 2px solid black;
	background-image: url('../images/background.png');
	background-color: white;
	height: auto;
	width: 70%;	
	margin: 5% 14%;
	padding: 1%;
	overflow: hidden;
}

#decisionTitle{
	height: 10%;
	width: 100%;
	margin-bottom: 5%;
}

#decisionEmoji{
	position: absolute;
	height: 6%;
	width: 6%;
	background: url('../images/decision.png') no-repeat;
  	background-size:contain;
}

#decisionHeading{
	position: absolute;
	margin: 0 0 0 4%;
    padding: 0.2% 1%;
	font-size: 1.5vw;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#question_answer_decision{
	height: auto;
	overflow: hidden;
	width: 70%;
	background-color: #ffffff;
	padding: 1.5vw;
	margin: 7% 15%;
	margin-bottom: 3%; /*7% 15% 3% 13%;*/
	border: 20px solid;
	border-image: url('../images/redBorderAlt.png') 30 round;
}

#quizQuestion{
	margin: 1%;
}

#yes_no{
	margin-top:3%;
	margin-left: 40%;
}

.inlineDecisionButtons{
  margin-top: 2%;
  width: 80%;
  padding: .4% 1%;
  color:black;
  border:  3px solid white;
  cursor: pointer;
  border-radius: 12px;
  display: block;
  background-color: #faea75
}

.decisionButtons{
  margin-right: 1%;
  width: 18%;
  padding: .4% 1%;
  background:url('../images/buttonsmall.png');
  color: black;
  border:  3px solid white;
  cursor: pointer;
  border-radius: 12px;
  background-size: 100% 100%;
  
}

.decisonButtons:active{

  box-shadow: 1px 1px  white;
  transform: translateY(3px);
}

button[class="decisionButtons"]:focus {outline:0;}

#rightInfo{
	font-weight: bold;
	margin: 0 17% 0 0;
	font-size: 1vw;
	width: 30%;
	padding: 0;
	
}

div[id="rightInfo"] div, div[id="leftInfo"] div{
	padding: 0;
}
#leftInfo{
	font-weight: bold;
	margin-left: 16%;
	font-size: 1vw;
	width: 30%;
	padding: 0;
	
}
#playerName{
	position: absolute;
	margin: 0 5% 0 0;
	font-size: 1.2vw;
	color: black;
	background-color: #65c0df;

}

#decisionBankBalance {
	background:url('../images/buttonsmedium.png');
	font-size: 1.2vw;
}

.insuranceText {
	background:url('../images/buttonsmedium.png');
	background-size: 110%;
	font-size: 1.2vw;
}