#insuranceContent{
    font-weight:700;
    position:absolute;
    top:31.5%;
    left:89%;
}
#inventoryContent{
    font-weight:700;
    position:absolute;
    top:24.5%;
    left:89%;
}
#lastBalanceContent{
    font-weight:700;
    position:absolute;
    top:17%;
    left:91%;
}
#reputationContent{
    font-weight:700;
    position:absolute;
    top:40%;
    left:92%;
}
#weekTitle{
    left:82%;
    position:absolute;
    top:10%;
    font-weight:700;
}

#lastBalanceTitle{
    left:82%;
    position:absolute;
    top:17%;
    font-weight:700;
}
#weekContent{
    font-weight:700;
    position:absolute;
    top:10%;
    left:86%;
}

#inventoryTitle{
    left:82%;
    position:absolute;
    top:25%;
    font-weight:700;
}
#insuranceTitle{
    left:82%;
    position:absolute;
    top:32%;
    font-weight:700;
}
#reputationTitle{
    left:82%;
    font-weight:700;
    position:absolute;
    top:40.5%;
}

/*idr se new*/
.screenTitle{
    position:absolute;
    top:3%;
    left:5%;
    padding:10px;
    font-weight:600;
}
#percent{
    background-color: black; 
    color:white;
    padding:10px;
    position: absolute;
    top: 50%;
    left:10%;
}
#value{
    background-color: black; 
    color:white;
    padding:10px;
    position: absolute;
    top: 50%;
    left:25%;
}
#result{
    position:absolute;
    left:40%;
    bottom:3%; 
    color:red;
    font-weight:600;
}
.purchaseScreenButton{
    background-color: orangered; 
    border: 0; 
    padding:10px;
    border-radius: 20px;
}
.enterAmountText{
    width:20%;
    border:1px solid black;
}