#minutes, #seconds{
	font-size: 3vw !important;
}

.timer{
	font-size: 2vw !important;
}

*{font-size: 1.05vw !important}


#insuranceContent{
    font-weight:700;
    font-size: 1.1vw !important;
    position:absolute;
    top:31.5%;
    left:86% ;
}
#inventoryContent{
    font-weight:700;
    font-size: 1.1vw !important;
    position:absolute;
    top:24.5%;
    left:86% ;
}
#lastBalanceContent{
    font-weight:700;
    font-size: 1.1vw !important;
    position:absolute;
    top:17%;
    left:89% ;
}
#reputationContent{
    font-weight:700;
    font-size: 1.1vw !important;
    position:absolute;
    top:40%;
    left:88%;
}


/*title starts*/

#weekTitle{
    font-size: 1.1vw !important;
    left:82%;
    position:absolute;
    top:10%;
    font-weight:700;
}

#lastBalanceTitle{
    left:82%;
    font-size: 1.1vw !important;
    position:absolute;
    top:17%;
    font-weight:700;
}

#inventoryTitle{
    left:82%;
    font-size: 1.1vw !important;
    position:absolute;
    top:25%;
    font-weight:700;
}
#insuranceTitle{
    left:82%;
    font-size: 1.1vw !important;
    position:absolute;
    top:32%;
    font-weight:700;
}
#reputationTitle{
    left:82%;
    font-size: 1.1vw !important;
    position:absolute;
    top:40.5%;
    font-weight:700;
}

#weekContent{
    left:86%;
    position:absolute;
    top:10%;
    font-size: 1.1vw !important;
}


/*idr se new*/
.screenTitle{
    position:absolute;
    top:3%;
    left:5%;
    padding:10px;
    font-weight:600;
}
#percent{
    background-color: black; 
    color:white;
    padding:10px;
    position: absolute;
    top: 50%;
    left:10%;
}
#value{
    background-color: black; 
    color:white;
    padding:10px;
    position: absolute;
    top: 50%;
    left:25%;
}
#result{
    position:absolute;
    left:40%;
    bottom:3%; 
    color:red;
    font-weight:600;
}
.purchaseScreenButton{
    background-color: orangered; 
    border: 0; 
    padding:10px;
    border-radius: 20px;
    cursor :pointer;
	box-shadow: 2px 2px orangered;
}
.purchaseScreenButton:active {
 
    box-shadow: 1px 2px orangered;
    transform: translateY(2px) translateX(2px);;
  
  }
.enterAmountText{
    width:20%;
    border:1px solid black;
}