#quiz{
	border: 2px solid black;
	background-image: url('../images/background.png');
	height: auto;
	width: 80%;	
	margin: 6% 9%;
	padding: 1%;
	overflow: hidden;
}

#quizTitle{
	height: 10%;
	width: 100%;
	margin-bottom: 5%;
}

#quizEmoji{
	position: absolute;
	height: 6%;
	width: 6%;
	background: url('../images/quizEmoji.png') no-repeat;
  	background-size:contain;
}

#score{
	position: absolute;
	margin-top: 1%;
	right: 12%;
	font-size: 2.2vw;
	color: white;

}
#quizHeading{
	position: absolute;
	margin: 0 0 0 3%;
	height: 6%;
	width: 5%;
    padding: 0.7% 1%;
    color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.0vw;
	font-weight: bold;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
#questionHeading{
	margin-top: 3%;
 	text-align: center;
 	font-size: 1.5vw;
}

#question_answer{
	height: auto;
	overflow: hidden;
	width: 80%;
	background-color: #ffffff;
	padding: 1vw;
	margin: 1% 10% 3% 10%;
	border: 20px solid;
	border-image: url('../images/redborder.png') 30 round;
}

#quizQuestion{
	margin: 1%;
}

#quizResult{
	margin: 2% 1% 1% 1%;
}

#quizQuestionNo{
	float: right;
}

#quizOptions{
	margin: 2%;
}

.quizButtons{
  height: 5%;
  width: 8%;
  padding: 5px 8px;
  display: inline-block;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 3px #333333;
}

.quizOkButton {
	background:url('../images/buttonsmall.png');
	margin-left: 45%;
}

.quizSubmitButtons {
    margin-right: 5px;
	background:url('../images/buttonsmall.png');
	float: right;
}

.quizHelpButtons {
	float: right;
	margin-left: 5%;
	background-color: green;
}
.quizButtons:active{

  box-shadow: 1px 1px  #333333;
  transform: translateY(3px);
}

button[class="quizButtons"]:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button[class="quizButtons"]:focus {outline:0;}

input[class="quizButtons"]:focus {outline:0;}