#quiz{
	border: 2px solid black;
	background-image: url('../images/background.png');
	height: auto;
	width: 80%;	
	margin: 3% 6%;
	padding: 1%;
	overflow: hidden;
}

#quizTitle{
	height: 10%;
	width: 100%;
	margin-bottom: 5%;
}

#quizEmoji{
	position: absolute;
	height: 8%;
	width: 6%;
	background: url('../images/quiz.png') no-repeat;
  	background-size:contain;
}

#score{
	position: absolute;
	margin-top: 2%;
	right: 20%;
	font-weight: bold;
	color: black;
	background:url('../images/buttonsmedium.png');

}

#playerName{
	position: absolute;
	right: 12%;
	font-size: 1.2vmax;
	color: black;
	background-color: #65c0df;

}
#quizHeading{
	position: absolute;
	margin: 0 0 0 5%;
	height: 6%;
	width: 5%;
    padding: 0.7% 1%;
    color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 3vmax;
	font-weight: bold;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
#questionHeading{
	margin-top: 3%;
 	text-align: center;
}

#question_answer{
	height: auto;
	overflow: hidden;
	width: 80%;
	background-color: #ffffff;
	padding: 1vw;
	margin: 6% 10% 3% 10%;
	border: 2vw solid;
	border-image: url('../images/redBorderAlt.png') 30 round;
	font-weight: bold;
}

#answerDiv{
	height: auto;
	overflow: hidden;
	width: 80%;
	background-color: #ffffff;
	padding: 1vw;
	margin: 6% 10% 3% 10%;
}

#answerHeader{
	color: red;
	margin-left: 30%;
	font-weight: bold;
}

#answerMessage{
	color: black;
	margin-left: 20%;
}

#quizQuestion{
	margin: 1%;
}

#quizResult{
	margin: 2% 1% 1% 1%;
}

#quizQuestionNo{
	float: right;
}

#quizOptions{
	margin: 2%;
}

.quizButtons{
  height: 5%;
  width: 8%;
  padding: 5px 8px;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  font-weight: bold;
}

.quizOkButton {
	background:url('../images/buttonsmall.png');
	margin-left: 45%;
	background-size: 100% 100%;
}

.quizSubmitButtons {
    margin-right: 5px;
	background:url('../images/buttonsmall.png');
	float: right;
	background-size: 100% 100%;
}

.quizHelpButtons {
	float: right;
	margin-left: 5%;
	background-image: url('../images/help-button.png');
	background-color: transparent;
	height: auto;
	background-size: 100% 100%;
}
.quizButtons:active{

  box-shadow: 1px 1px  #333333;
  transform: translateY(3px);
}

#quizWowImage {
	width: 20%;
	margin: 6% 0 0 24%;	
}

button[class="quizButtons"]:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button[class="quizButtons"]:focus {outline:0;}

input[class="quizButtons"]:focus {outline:0;}