.instructionButtons{
  background:url('../images/button long.png');
  color: navy;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-size: 100% 100%;
  background-color: transparent;
  padding: 19px;
  font-size: large;
}
.startButtons{
  background:url('../images/button long.png');
  color: red;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-size: 100% 100%;
  background-color: transparent;
  font-size: large;
  padding: 19px;
}

.redStrip{
   /*margin: 2%;*/
   width: 100%;
   padding: -3.6% 1%;
   background: url(../images/red_strip.png);
   height: 9vh;
   top: 32%;
   vertical-align: -webkit-baseline-middle;
   position: relative;
   text-align: center;
  
}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 40px;
}

  
  
}


