<div style="{{style}}">
    <div style="background-color: white;margin:5%;padding: 10px;position: relative; max-height: 50vh;overflow: auto;   ">

        <div>

            <div style="{{headerStyle}}" >{{header}}</div>

        </div>

        <div>

            <div style="    text-align: center;     padding-top: 19px;">{{message}}</div>
            {{#if showImage}}
            <div style="text-align: center; height: 25vh;"> <img style="height: 100%;" src="{{imageUrl}}"></img></div>
            {{/if}}
        </div> <div style="text-align: center;margin-top: 10px;"> <button onclick="ubsApp.closePopUp();" >{{Close}}</button> </div>

    </div>
    </div>
</div>